BILIBILI_PAGES=2
BILIBILI_OUTPUT_DIR=./output
BILIBILI_REQUEST_TIMEOUT=20
BILIBILI_DETAIL_CONNECT_TIMEOUT=5
BILIBILI_DETAIL_READ_TIMEOUT=8
BILIBILI_REQUEST_MIN_DELAY=1.2
BILIBILI_REQUEST_MAX_DELAY=2.8
BILIBILI_MAX_RETRIES=3
BILIBILI_DETAIL_WORKERS=6
BILIBILI_BROWSER_FALLBACK=0
BILIBILI_BROWSER_HEADLESS=1
BILIBILI_BROWSER_DEBUG_URL=
BILIBILI_KEYWORDS_FILE=
BILIBILI_COOKIE=
BILIBILI_SINCE=
